body {
   background-color: #444 !important;
}

.header-port {
   background: #e0e0e0;
   padding: 20px 0px;
}

.img-port {
   width: 100%;
   object-fit: contain;
   max-width: 100%;
   height: 186px;
}

.bg-header {
   background: #17222e;
}

.bg-body1 {
   background: #c8d2c8;
}

.bg-body2 {
   background: #ffffff;
}